$font-color-theme1: purple;
$font-color-theme2: default;
$font-color-theme3: default;

$background-color-theme1: red;
$background-color-theme2: default;
$background-color-theme3: default;

$border-color-theme1: purple;
$border-color-theme2: default;
$border-color-theme3: default;