%navbar-brand {
    float:left;
    a {
        font-size: 1.8em;
        font-weight: bold;
        color: rgb(141, 8, 97);
        text-decoration: none;
        position: absolute;
        padding: 5px;
        margin: 5px 10px; 
    }
}